:root {
    /* Primary colors */
    /* Light red (CTA text): */
    --cta-text: hsl(356, 100%, 66%);
    /* Very light red (CTA hover background) */
    --cta-shover-background: hsl(355, 100%, 74%);
    /* Very dark blue (headings): hsl(208, 49%, 24%) */
    --headings: hsl(208, 49%, 24%);
    /* Neutral colors */
    /* White (text):  */
    --text-color:hsl(0, 0%, 100%);
    /* - Grayish blue (footer text):  */
    --footer-text-color: hsl(240, 2%, 79%);
    /* - Very dark grayish blue (body copy): */
    --body-text-color:  hsl(207, 13%, 34%);
    /* - Very dark black blue (footer background):  */
    --footer-background: hsl(240, 10%, 16%);

    /* background gradient */
    --body-background-gradient: linear-gradient(to right, hsl(237, 17%, 21%), hsl(237, 23%, 32%))
    
}
.dropdown {
    display: none;
}
/* general classes */
.flex-column-centered-vertically {
    display:flex;
    flex-direction: column;
    align-items:center;
}
.flex-row {
    display:flex;
    flex-direction: row;
}
/*  */
html {
    font-size: 16px;
}
body {
    margin: 0;
    line-height: 1.75;
}
header {
    position:relative;
    color: var(--text-color);
    overflow: hidden;
    min-height: 37.5em;
    border-radius: 0 0 0 5em;
    width: 100%;
    z-index: 0;
    background-image: linear-gradient(to right, hsl(13, 100%, 72%),hsl(353, 100%, 62%));
}
.background-intro-image {
    position: absolute;
    left:-27em;
    top:  -82em;
    height: 200em;
    z-index: -1;
}
.navbar {
    margin: 3em 15em;
    width: 80%;
}
ul {
    font-size: 1.2rem;
    display:flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    width: 100%;
}

.nav__list > * {
    padding: 1em;
}
.nav__list li:first-child {
    padding-left:0;
    margin-right:2rem;
}
.nav__list li:nth-last-child(2) {
    margin-left: auto;
    padding-right:0;
}
.nav__list li:nth-last-child(1) {
    margin-right: 0rem;
    padding-right:4rem;
    padding-left:0;
}
.tab {
    cursor: pointer;
}
.button {
    padding:.75rem 2.5rem;
    margin:0 .5rem;
    border-radius: 2rem;
    color: var(--text-color);
    text-decoration: none;

}
.login-button {
    background:none;
    color: var(--text-color);
    
}
.white-button  {
    background: white;
    color:var(--cta-text);
}
.text-display {
    margin-top: 5em;
}
h1 {
    font-size:3.8rem;
}
.text-display h1{
    padding:0;
    margin:0
}
.text-display p{
    font-size:1.3rem;
    margin:.5em 0 0;
}
.button-cell {
    margin-top:2.5em;
}

#illustration-editor-desktop {
    width: 55em;
    height:55em;
    position: absolute;
    right: -15em;
    /* margin-right:-30em; */

}

.container1 {
    padding-top: 3em;
    width:100%;
    margin-top: 4.5em;
    
    background-color: white;
    color: var(--body-text-color);
    position:relative;
    line-height: 1.5;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 6em 45em;
    grid-gap:2em;
    column-gap:5rem;
    overflow: hidden;
    min-height: 15em;
padding-bottom: 10em;
    z-index:1;
}
h2 {
    font-size:2.7rem;
    margin:0;
}
.container1 h2 {
    /* grid-row-start: row1-start ; */
    width: 100%;
    text-align:center;
    grid-column: 1 / 3;
}
h3 {
    font-size:1.7rem;
}
p {
    font-size: 1.0rem;
}
.container1 p {
    padding: 0;
    margin: 0;
}
.container1 h3 {
    padding: 0;
    margin: 0;
}
.container1-first-column h3:first-of-type {
    padding: 1rem 0 1rem 0;
}
.container1-first-column h3:nth-of-type(2) {
    padding: 2rem 0 1rem 0;
}

.container1-first-column {
    grid-column: 1 / 2;
    grid-row: 2/3;
    display:flex;
    margin-left: 15%;
    max-width: 50ch;
    line-height:2;
    /* height: 100%; */
    flex-direction: column;
}
/* .container1-second-column {
    grid-column: 2 / 3;
    grid-row: 2/3;

} 
container1 blocks the overflow  */

.container2 {
    border-radius: 0 7em;
    height: 25em;
    width:100%;
    position: relative;
    
    display: flex;
    justify-content: flex-end;
    background-image: var(--body-background-gradient);
}
.container2-content {
    border-radius: 0 10em;
    height: 100%;
    width:100%;
    padding-left: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    justify-content:center;
}
.container2 h3,.container2  p {
    /* background-color: white; */
    z-index:8;
}
#bg-pattern {
    height: 60em;
    position: absolute;
    z-index:0;
    top: -30em;
    left: -13em;
}
#illustration-phones {
    z-index:1;
    position: absolute;
    /* height: 50em; */
    top:-4em;
    left: 5%;
}
.container3 {
    background-color: white;
    width: 100%;
    /* align-items: flex-end; */
    justify-content: flex-end;
    position: relative;
    padding: 17em 0;
}
.container3-content {
    display: flex;
    flex-direction: column;
    min-width: 45ch;
    /* border: 1px solid green; */
    /* max-width: 40%; */
    width: 100%;
    padding-left: 50%;
    margin-right: 7em ;
}
#illustration-laptop-desktop {
    position: absolute;
    left:-17.3em;
    top:8em;
}
.svg {
    display: none;
}
footer {
    width:100%;
    background-color: var(--footer-background);
    height: 23em;
    border-radius: 0 5em 0 0;
    color: var(--footer-text-color);
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
}


.footer-content {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 4em 0em 4em 6em;
    width: 80%;
    padding-right: 8em;
}
.footer-content img {
    justify-self: center;
    
}
.footer-content ul {
    display: flex;
    flex-direction: column;
}
.footer-content ul li a {
    color:hsl(0, 0%, 100%);
    text-decoration: none;
}
.footer-content ul li:first-of-type {
    font-weight: bold;
    margin-bottom: 2em;
}
.footer-content ul li a:hover {
    /* text-decoration: underline; */
    border-bottom: 2px solid hsl(0, 0%, 100%);
    cursor: pointer;
}