
/* .dropdown {
    display: none;
} */
/* general classes */
.flex-column-centered-vertically {
    display:flex;
    flex-direction: column;
    align-items:center;
}
.flex-row {
    display:flex;
    flex-direction: row;
}
/*  */
html {
    font-size: 16px;
}
body {
    margin: 0;
    line-height: 1.75;
}
header {
    position:relative;
    color: var(--text-color);
    overflow: hidden;
    min-height: 37.5em;
    border-radius: 0 0 0 5em;
    width: 100%;
    z-index: 0;
    background-image: linear-gradient(to right, hsl(13, 100%, 72%),hsl(353, 100%, 62%));
}
.background-intro-image {
    position: absolute;
    left:-27em;
    top:  -82em;
    height: 200em;
    z-index: -1;
}
.navbar {
    margin: 1.5em 15em;
    width: 80%;
}
ul {
    font-size: 1.2rem;
    display:flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    width: 100%;
}

.nav__list > * {
    padding: 1em;
}
.nav__list li:first-child {
    padding-left:0;
    margin-right:2rem;
}
.nav__list li:nth-last-child(2) {
    margin-left: auto;
    padding-right:0;
}
.nav__list li:nth-last-child(1) {
    margin-right: 0rem;
    padding-right:4rem;
    padding-left:0;
}
.tab {
    cursor: pointer;
}
.product-dropdown-content {
    display: none;
}
.company-dropdown-content {
    display: none;
}
.connect-dropdown-content {
    display: none;
}




.button {
    padding:.75rem 1rem;
    margin:0 .5rem;
    border-radius: 2rem;
    color: var(--text-color);
    text-decoration: none;

}
.login-button {
    background:none;
    color: var(--text-color);
    
}
.white-button  {
    background: white;
    color:var(--cta-text);
}
.text-display {
    margin-top: 2em;
}

.text-display h1{
    padding:0;
    margin:0
}
.text-display p{
    font-size:1.3rem;
    margin:0em 0 0;
}
.button-cell {
    margin-top:2.5em;
}

#illustration-editor-desktop {
    width: 55em;
    height:55em;
    position: absolute;
    right: -15em;

}

